<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<style type="text/css">
div {
	width: 180 px;
	height: 20px;
	background-color: black;
}
</style>

</head>
<body>
	<h4 class="display-4">Bienvenidos a la pçagina de muestra de
		Spring Boot</h4>
	<br>

	<ul class="list-group">
		<li class="list-group-item"><a th:href="@{/hola}">Hola </a></li>
		<li class="list-group-item"><a th:href="@{/formulario}">Formulario</a></li>
		<li class="list-group-item"><a th:href="@{/coleccion}">Colección</a></li>
	</ul>



</body>
</html>